<div class="form-group">
    <label for="inputChart">Select chart to display</label>
    <select (change)="setChartType($event.target.value)" class="form-control" name="inputChart" id="inputChart">
      <option value="Pie">Pie chart</option>
      <option value="AdvPie">Advanced Pie chart</option>
      <option value="PG">Pie grid chart</option>
      <option value="HBar">Horizontal Bar chart</option>
      <option value="VBar">Vertical Bar chart</option>
      <option value="TM">Tree map chart</option>
      <option value="NC">Number card chart</option>
      <option value="Gauge">Gauge chart</option>
    </select>
</div>

<app-charts [jsonData] = "single" [chartType] = "chartType" [colorName] = "colorName"></app-charts>